*{
    font-family: 'Roboto', sans-serif; 
}


#nav_top{
background-color: black;
width: 100%;
height: 30px;
}
#nav_top img{
    height: 20px; 
    float: right; 
    margin-top: 5px;   
}

.navbar{
    margin-top: 30px;
}

#dark_btn{
    border-radius: 20px;
}

/* MAIN: JUMBOTRON SECTION */

#jumbotron{
    background-image: url("./img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 96px;
}


.myst_jumbotron{
    padding-top: 200px;
}

.myst_red_btn{
    background-color: #cd3d10;
}

.myst_jumbo_small img:active{
    outline: solid 2px lightblue;
    outline-offset: 4px;
}


.myst_jumbo_small img:hover{
    transform: translateY(10px);
}

.myst_blue_btn{
    background-color: rgb(45, 100, 229);
    border: none;
    color: white;
}
  
.ps_cards .myst_select_cards:hover{
    border-bottom: 3px solid rgb(45, 100, 229);
}

.my_select_cards img:hover{
    opacity: 1; 
}

#jumbotron2{
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 96px;
}

.myst_light_btn{
    color: rgb(45, 100, 229);
    border: none;
}

#ps_plus{
    background-color: rgb(190, 188, 187);
}

#sales img{
    transform: scale(.9);
}

#ps_now{
    background-color: rgb(22, 28, 59);
}

#media img{
    transform: scale(.6);
}

footer{
    background-color: rgb(0, 67, 155);
}

#logo_footer{
   filter: 
}